__pycache__/
**/__pycache__/
*.py[cod]
*.pyc

.venv/
venv/
**/.venv/
**/venv/

.env
.env.*

node_modules/
**/node_modules/
package-lock.json
dist/

*.log
logs/

gis/outputs_dem/
gis/outputs_hand/

gis/temp/
gis/cache/

gis/output_maps/

*.tif
*.tiff

data/processed/*
!data/processed/.gitkeep

.DS_Store
Thumbs.db

.vscode/
.idea/