# Node.js
node_modules/
**/node_modules/
package-lock.json

# Python / Virtual Environments
venv/
.venv/
**/venv/
**/__pycache__/

# Logs & Temp
*.log
.DS_Store

node_modules/
dist/
.env

gis/output_rasters/dem_source.tif
